.main-container{
    color: white;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-items: center;
}
.container01{
    margin-top: 8%;
    padding-left: 17%;
    
}